---
import Layout from "../../layouts/Layout.astro";
import CustomExercise from "../../apps/SimpleArithmetic/custom.svelte";
import exercises from "../../data/exercises.json";
---

<Layout title={"Custom Exercise"}>
  <div class="exercise-page">
    <CustomExercise client:load exercises={exercises} />
    <a class="exercise-page-back" href="/mathtrainer/">← Back To Home Page</a>
  </div>
</Layout>

<style>
  .exercise-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }

  .exercise-page-back {
    color: var(--theme);
    text-decoration: none;
    margin-bottom: 4.5rem;
  }
</style>
