---
import Layout from "../layouts/Layout.astro";
import exercises from "../data/exercises.json";
---

<Layout title="Math Trainer Demo">
  <h1>Home Page</h1>
  {exercises.map((exercise) => (
    <div>
      <a href={`/exercises/${exercise.id}`}>
        <h2>{exercise.title}</h2>
      </a>
    </div>
  ))}
</Layout>
