---
import Layout from "../layouts/Layout.astro";
import Builder from "../apps/SimpleArithmetic/builder.svelte";
import exercises from "../data/exercises.json";
---

<Layout title="Build Custom Exercise">
  <div class="home">
    <div class="home-title">Mr.Bovell's Math Trainer</div>
    <p>Select the exercises you would like to practice:</p>
    <div class="home-break"></div>
    <Builder client:load exercises={exercises} />
  </div>
</Layout>

<style>
  .home {
    margin: 1.5rem;
  }

  .home-title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .home-break {
    margin-bottom: 2rem;
  }
</style>
