---
import Layout from "../layouts/Layout.astro";
import exercises from "../data/exercises.json";
---

<Layout title="Math Trainer Demo">
  <h2>Mr.Bovell - Math Trainer Demo</h2>
  {exercises.map((exercise) => (
    <div>
      <a href={`./exercises/${exercise.id}`}>
        <h3>{exercise.title}</h3>
      </a>
    </div>
  ))}
</Layout>
