---
import Layout from "../layouts/Layout.astro";
import exercises from "../data/exercises.json";
---

<Layout title="Math Trainer Demo">
  <h2>Mr.Bovell - Math Trainer Demo</h2>
  <h3>Exercises:</h3>
  <ul>
    {exercises.map((exercise) => (
      <li>
        <a href={`./exercises/${exercise.id}`}>{exercise.title}</a>
      </li>
    ))}
  </ul>
  <br />
  <h3>More:</h3>
  <ul>
    <li>
      <a href="./build"> Combine Multiple Exercises</a>
    </li>
  </ul>
</Layout>
